<div class="report">
  <table>
      <thead>
        <tr>
          <th>Bowler</th>
          <th>Number of Entries</th>
          <th>Action</th>
        </tr>
    </thead>
 <tbody>
  <%@bowlers.each do | bowler |%>
    <tr>
      <td><%=link_to bowler.name, bowler_average_path(bowler)%></td>
      <td><%=bowler.get_tournament_entries(selected_tournament).count%></td>
      <td><%=link_to 'Show Entries', bowler_show_entries_path(bowler)%></td>
    </tr>
  <%end%>
   </tbody>
</table>

