<h1> Bowlers </h1>

<table>
	<tr>
		<th>Bowler Name</th>
		<th>Number of Games Played</th>
		<th>Tournament Average</th>
	</tr>
<% @bowlers.each do | bowler | %>
	<tr>
		<td><%=bowler.name%></td>
		<td><%=bowler.games_in_tournament(selected_tournament).size%>
		<td><%=bowler.average(selected_tournament)%>
	</td>
<% end %>
</table>
