<h1>Editing game</h1>

<%= render 'form' %>

<% if selected_squad_entry %>
	<%= link_to 'Back', squad_entry_games_path(selected_squad_entry) %>	
<% else %>
	<%= link_to 'Show', @game %> |
	<%= link_to 'Back', games_path %>
<% end %>
