<h2>Squad Entries By <%=@bowler.name%></h2>
<h3>Total Entries: <%=@squad_entries.count%></h3>
<div class="report">
  <table class="big_table">
      <thead>
<tr id="header_row">
  
  <th id="bowler_category_header">Bowlers</th>
  <th id="game_type_header">Games</th>
  <th>Total</th>
   <% if current_user.encoder? %><th>Actions</th><%end%>
</tr>
    </thead>
 <tbody>
  <%@squad_entries.each do | squad_entry |%>

    <%= render squad_entry%>
  <%end%>
   </tbody>
</table>

