/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {

 	a{
 		font-size: .9em;
 	}

	//a:link, a:visited, a:active{ color: #039; }
	//a:hover { color: white; }

   margin: 10px;
   padding: 10px;

   background-color: #fff;
   color: #333;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 15px;
   line-height: 18px;
}

div#flash_alert, div#flash_error {
	font-size: 1.5em;
	margin: 1em;
	color: #FF0000;
}



 .main_content{
 	float: left;
 	margin-top: 1em;
 	width: 800px;
 	margin-left: 2em;

 	h1 {
	 	margin-top: 1em;
	 	
 		font-size: 1.9em;
 	}

 }

 #flash_notice {
 	margin: 1em;
 	padding: .5em;
 	border: 1px dotted;
 	font-size: .75;
 	width: 400px;
 }

 #notice {
 	margin: 1em;
 }



.page_nav{
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;


	.new_link { float: left; }
	.back_link { float: right; }
}





form {
	margin-left: 3em;
}




.actions{

	
	display: inline;
	

	span {
		clear: left;
	}


	ul li{
		
		list-style-type: none;
		position: relative;
		float: left;
		margin-right: .75em;
		padding: .2em;
		#border: .1em solid #4B7EF4;
		#background-color: #ABABAB;
	}

	.action_title {
		font-size: 1.25em;
		border: none;
		background-color: white;
	}
}





div.info {
	border: 1px dashed;
	width: 200px;
	margin: 10px;
	padding: 5px;
	background-color: yellow;
}


table
{

	margin: 10px;
	width: 800px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
	background: #e8edff; 
}

 th
{
	font-size: .95em;

	font-weight: bold;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
	background: #8EA4EC;
}
 td
{
	padding: 8px;
	
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}
tr:hover { background: #C4CFF6; }
.e     { background: #CFD8F8; }


.updated, tr.updated:hover {
	background: yellow;
}
