/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #user_nav {
 	width: 100%;
 	text-align: right;
 }

 body {

 	a{
 		font-size: .9em;
 	}

	a:link, a:visited, a:active{ color: #039; }
	a:hover { color: white; }

   margin: 10px;
   padding: 10px;

   background-color: #fff;
   color: #333;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 15px;
   line-height: 18px;
}

#tournament_actions {
	padding-top: .25em;
	padding-left: 1em;
	display: block;
	font-size: .6em;

	li {
		display: inline;
		margin-left: 1em;
	}
}

 .main_content{
 	width: 800px;
 	margin-left: 2em;

 	h1 {
	 	margin-top: 1em;
	 	
 		font-size: 1.9em;
 	}

 }

 #flash_notice {
 	margin: 1em;
 	padding: .5em;
 	border: 1px dotted;
 	font-size: .75;
 	width: 400px;
 }

.page_nav{
	margin-left: 1em;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;


	.new_link { float: left; }
	.back_link { float: right; }
}


.title, h2{
	font-size: 2em;
	font-weight: bold;
	display: block;

 	.tournament_title {
		margin-bottom: 20px;
	}
    .squad_title{
	 	margin-top: 1em;
	 	margin-left: 1em;
 		font-size: .75em;
 	}
 	.roll_off_info {
 		font-size: .65em;
 		margin: .5em;
 		font-weight: normal;
 	}
 	.entries_title{
	margin-left: 2em;
	font-size: .70em;
		a.add, .entries_actions{ 
			margin-top: -1.15em;
			font-size: .80em;
			float: right;
			
		}
	}

 	.games_title{
 		margin-top: 1em;
 		margin-left: 1.5em;
 		font-size: .65em;
 	}

	a.add
	{ 
		margin-left: 1em;
		display: inline;
		font-size: .75em;
		text-decoration: none;
	}


 }



form {
	margin-left: 3em;
}




.actions{

	
	display: inline;
	

	span {
		clear: left;
	}


	ul li{
		
		list-style-type: none;
		position: relative;
		float: left;
		margin-right: .75em;
		padding: .2em;
		#border: .1em solid #4B7EF4;
		#background-color: #ABABAB;
	}

	.action_title {
		font-size: 1.25em;
		border: none;
		background-color: white;
	}
}



#navigation {
   margin-bottom: 70px;
   margin-top: 5px;

    ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	ul li {
	  display: block;
	  position: relative;
	  float: left;
	}
	li ul { display: none; }
	ul li a {
	  display: block;
	  text-decoration: none;
	  color: #ffffff;
	  border-top: 1px solid #ffffff;
	  padding: 5px 15px 5px 15px;
	  background: #2C5463;
	  margin-left: 1px;
	  white-space: nowrap;
	}
	ul li a:hover { background: #617F8A; }
	li:hover ul {
	  display: block;
	  position: absolute;
	}
	li:hover li {
	  float: none;
	  font-size: .9em;
	}
	li:hover a { background: #617F8A; }
	li:hover li a:hover { background: #95A9B1; }
}

div.info {
	border: 1px dashed;
	width: 200px;
	margin: 10px;
	padding: 5px;
	background-color: yellow;
}


table
{

	margin: 10px;
	width: 800px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
	background: #e8edff; 
}

 th
{
	font-size: .95em;

	font-weight: bold;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
	background: #8EA4EC;
}
 td
{
	padding: 8px;
	
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}
tr:hover { background: #C4CFF6; }
.e     { background: #CFD8F8; }


.updated, tr.updated:hover {
	background: yellow;
}
