#navigation {
   
   border-top: 1px solid white;
   background-color: #001935;
   height: 1.3em;
   margin-left: -1em;
   margin-right: -1em;
   display: block;

   ul#menu {
   	height: 1em;
   	margin-bottom: -2.5em;
   	padding-top: .3em;
   }

    ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	ul li {
	  display: block;
	  position: relative;
	  float: left;
	}
	li ul { display: none; }
	ul li a {
	  display: block;
	  text-decoration: none;
	  color: #ffffff;
	  padding: 5px 15px 5px 15px;
	  background: #001935;
	  margin-left: 1px;
	  white-space: nowrap;
	}

	//Highlight main menus
	ul li a:hover { 
	background: #253C64; 
	border-bottom: 2px solid #FB512B;
	color: #FB512B;	

	} 

	li:hover ul {
	  display: block;
	  position: absolute;

	}
	li:hover li {
	  float: none;
	  font-size: .9em;
	  opacity: 0.95;
	}
	li:hover a { 
		background: #253C64; 


	}
	li:hover li a:hover { 
		background: #253C64; 
		border-top: 2px solid #FB512B;
		color: #FB512B;

	}
}