// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.category {
	border-top: 3px solid #8C8C8C;
	padding: 1em;
	padding-bottom: 20px;
	clear: both;

	h1 { font-size: 1.7em; }

	h2 { font-size: 1.5em; }

	

}

.no_games {
	color: #C7C0C0;
	font-size: .9em;
}

div.game_type {
	float: left;
	width: 350px;
	margin: 3px;
	min-height: 200px;

}



tr:hover { background: #e8edff; }
.e     { background: #e8edff; }

table.ranking {
	border: 0;
	width: 100%;
	color: black;
	background-color: white;
	margin: 0px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid black;



	td
	{
		border: 0;
		padding: 3px;
		padding-bottom: .75em;
		font-size: 1em;
		color: black;
		background-color: white;
	}

	th{
		border: 1px;
		background-color: #e8edff;
	}

	tr{
		border: 1px solid black;
	}

	td.bowler_names {
		width: 14em;
	}

	td.score {
		width: 3.1em;
		vertical-align: top;
	}
	
	
}