// Place all the styles related to the SquadEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bowlers {
	tr, td {
		padding: 0;
		margin: 1px;	}
}

.game_input input {
	max-width: 4em;
}