// Place all the styles related to the SquadEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.total_pinfalls {
	float: right;
	margin-right: 3em;
	font-weight: bold;
	font-size: 110%;
}
#bowlers {
	tr, td {
		padding: 0;
		margin: 1px;	}
}

.game_input, .hdcp_input {
	input {
	  max-width: 4em;
	}
}

.details {
	margin-left: 2em;
	a {
		float: right;
	}
}

.user_name, .date {
	font-style: italic;
	font-weight: bold;
}

.field_with_errors {
  padding: 0;
  background-color: red;
  display: inline;
  
}