<h2>Squad Entries Under <%=@bowling_association%></h2>
<div class="report">
  <table>
      <thead>
        <tr>
          <th>Bowler</th>
          <th>Number of Entries</th>
          <th>Action</th>
        </tr>
    </thead>
 <tbody>
  <%@bowlers.each do | bowler |%>
    <tr>
      <td><%=bowler.name%></td>
      <td><%=bowler.get_tournament_entries(selected_tournament).count%></td>
      <td><%=link_to 'Show Entries Per Bowler', reports_show_bowler_entries_path(bowler)%></td>
    </tr>
  <%end%>
   </tbody>
</table>

