<h2>Squad Entries for <%=@bowling_association%></h2>
<div class="report">
  <table>
      <thead>
        <tr>
          <th>Game Type</th>
          <th>Division</th>
          <th>Bowlers</th>
        </tr>
    </thead>
 <tbody>
  <%@squad_entries.each do | squad_entry |%>
    <tr>
      <td><%=squad_entry.game_type%></td>
      <td><%=squad_entry.category%></td>
      <td><%=squad_entry.bowler_names%></td>
      
      
    </tr>
  <%end%>
   </tbody>
</table>

