<%if admin?%>
	<li><%=link_to 'Add New Squad', new_squad_path %></li>
	<li><%=link_to 'View Reports', reports_path %></li>
<%end%>

<%if current_user.role == 'ENCODER'%>
	<div id="quick_links">
	 <span>Add Squad Entry:</span>
		<ul>
	<%= render(partial: "game_types/game_type", collection: selected_tournament.game_types, 
                    locals: {squad: selected_tournament.squads.last}) %>
    	</ul>
    
    </div>
<%end%>